.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn--rd {
  border-radius: 100px;
}
.btn-recipe-edit-delete-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.btn--primary {
  color: white;
  background-color: hsl(162, 43%, 46%);
  transition: ease-in-out 100ms;
}

.btn--primary:hover {
  background-color: hsl(162, 43%, 26%);
  transition: ease-in-out 100ms;
}

.btn--danger {
  color: white;
  background-color: hsl(349, 86%, 56%);
  transition: ease-in-out 100ms;
}

.btn--danger:hover {
  background-color: hsl(349, 86%, 36%);
  transition: ease-in-out 100ms;
}
