.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--rd {
  border-radius: 100px;
}
.btn-recipe-edit-delete-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 100%, 50%);
  transition: ease-in-out 100ms;
}

.btn--primary:hover {
  background-color: hsl(200, 100%, 30%);
  transition: ease-in-out 100ms;
}

.btn--danger {
  margin-top: 10px;
  color: white;
  background-color: hsl(0, 100%, 50%);
  transition: ease-in-out 100ms;
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 30%);
  transition: ease-in-out 100ms;
}

/* @media (max-width: 730px) {
  .btn--danger {
    margin-top: 10px;
  }
} */
