.languageButton-wrapper {
  position: fixed;
  bottom: 100px;
  left: 0;
}

.icon {
  border: white solid 2px;
  width: 81px;
  height: 47px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
