.recipe {
  padding: 20px;
  padding-bottom: 20px;
  background-color: rgb(250, 243, 150);
  border-radius: 20px;
}

/* .recipe:last-child {
   border-bottom: none;
padding-bottom: 10px; 
} */

.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-transform: capitalize;
  width: 100%;
  word-break: break-all;
}

.recipe__title {
  margin: 0;
  margin-right: 7px;
  font-size: 1.75rem;
  cursor: pointer;
}

.recipe__title:hover {
  animation: shake 1s ease infinite;
  transition: ease-in-out 100ms;
}

.recipe__row {
  margin-top: 10px;
}

.recipe__label {
  margin-right: 5px;
}
.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe__instructions {
  /* preserve white space in strings: */
  white-space: pre-wrap;
}
.recipe__description {
  background-color: rgb(250, 243, 150);
  overflow: hidden;
  transition: max-height 1s;
  max-height: 0;
}

.description-visible {
  max-height: 500px;
}
@keyframes shake {
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
