.recipe {
  padding: 20px;
  padding-bottom: 40px;
  background-color: rgb(250, 243, 150);
  border-radius: 20px;
}

.recipe:last-child {
  /* border-bottom: none;
padding-bottom: 10px; */
}

.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.recipe__title {
  margin: 0;
  font-size: 1.75rem;
  min-width: calc(100% - 135px);
  width: calc(100% - 135px);
}

.recipe__row {
  margin-top: 10px;
}

.recipe__label {
  margin-right: 5px;
}
.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe__instructions {
  /* preserve white space in strings: */
  white-space: pre-wrap;
}
