.recipe-edit {
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: auto;
  width: 50%;
  min-height: 100vh;
  height: auto;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.recipe-edit-wrapper {
  margin-top: 20px;
  padding: 20px;
  width: 95%;
  min-height: 95%;
  height: 100%;
  background-color: hsl(39, 92%, 57%);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.recipe-edit-true {
  overflow: hidden;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.recipe-edit-false {
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.recipe-edit__remove-button-container {
  text-align: end;
}

.recipe-edit__remove-button {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  /* padding: 5px 20px; */
  cursor: pointer;
  margin-bottom: 5px;
}

.recipe-edit__remove-button:hover {
  color: red;
  transition: color ease 1s;
  animation: shake 1s ease infinite;
}

.recipe-edit__details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 40px;
}

.recipe-edit__label {
  font-weight: bold;
}
.recipe-edit__input {
  border: none;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

textarea.recipe-edit__input {
  resize: none;
  height: 200px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.recipe-edit__add-ingredient-btn-container {
  margin-top: 20px;
  text-align: center;
}

/* @media (max-width: 1000px) {
  .recipe-edit__details-grid,
  .recipe-edit__ingredient-grid {
    grid-template-columns: 1fr;
  }
} */
