.recipe {
  padding: 20px;
  padding-bottom: 20px;
  background-color: rgb(250, 243, 150);
  border-radius: 20px;
}

.recipe:last-child {
  /* border-bottom: none;
padding-bottom: 10px; */
}

.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
}
.recipe__title {
  margin: 0;
  font-size: 1.75rem;
  min-width: calc(100% - 130px);
  width: calc(100% - 130px);
  cursor: pointer;
  z-index: 2;
}

.recipe__row {
  margin-top: 10px;
}

.recipe__label {
  margin-right: 5px;
}
.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe__instructions {
  /* preserve white space in strings: */
  white-space: pre-wrap;
}
.recipe__description {
  background-color: rgb(250, 243, 150);
  overflow: hidden;
  transition: max-height 1s;

  max-height: 0;
}

.description-visible {
  /* description invisible, turn to DISPLAY BLOCK */
  /* display: inline-block; */
  max-height: 500px;
}
